* {
  /* border: 1px solid; */
}
.form-container {
  width: 460px;
}
.invalid-feedback {
  display: block;
}
.border-red {
  box-shadow: 0 0 0.3rem red;
}
.buttons {
  padding: 0 10vw;
}
.avatar-img {
  /* width: 120px;
  height: 120px; */
  object-fit: cover;
  border: 5px solid #df3d4d;
}
.city {
  background-color: #eba02f !important;
}
